#main
{
    background-color: orange;
    
}

#ARM
{
    animation-name: name-ani;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes name-ani
{
    from {font-weight: lighter; font-size: 5vw;}
    to {font-weight: bolder; font-size: 10vw;}
}

@media (max-width:600px) 
{
 
    #yt1
    {
       height: 50vw;
       width: 80vw;
    }
    #yt2
    {
       height: 50vw;
       width: 80vw;
    }
    #yt3
    {
       height: 50vw;
       width: 80vw;
    }
    #web1
    {
       height: 50vw;
       width: 80vw;
    }
    #web2
    {
       height: 50vw;
       width: 80vw;
    }
}